@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  height: 100%;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 120px;
}

.btn {
  padding: 12px 24px;
  background-color: #a53dff;
  color: white;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.header .container {
  display: flex;
  margin: 20 300px;
  align-items: center;
  justify-content: space-between;
  background-color: yellow;
}

.header .logo {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 20px 0px;
}

#main {
  background-image: url("./images/BG.jpg");
}

.header-nav {
  max-width: 1320px;
  margin: auto;
  padding: 10px 0px;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .logo span {
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  line-height: 56px;
  color: white;
  background-color: #a53dff;
  border-radius: 50%;
  font-weight: 500;
}

.header-nav h2 {
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
}

.header-nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.header-nav li {
  font-weight: 500;
  padding: 12px 24px;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}

.header-nav ul li:hover {
  color: #a53dff;
  transition-duration: 0.3ms;
}
